 

   <!-- Preloader Start -->
   <div id="preloader" class="preloader">
    <div class="animation-preloader">
        <div class="spinner">                
        </div>
       <div class="txt-loading">
            <span data-text-preloader="B" class="letters-loading">
                B
            </span>
            <span data-text-preloader="U" class="letters-loading">
                U
            </span>
            <span data-text-preloader="D" class="letters-loading">
                D
            </span>
            <span data-text-preloader="D" class="letters-loading">
                D
            </span>
            <span data-text-preloader="H" class="letters-loading">
                H
            </span>
            <span data-text-preloader="A" class="letters-loading">
                A
            </span>
            <span data-text-preloader="T" class="letters-loading">
                T
            </span>  
            <span data-text-preloader="V" class="letters-loading">
                V
            </span>
        </div>
        <p class="text-center">Loading</p>
    </div>
    <div class="loader">
        <div class="row">
            <div class="col-3 loader-section section-left">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-left">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg"></div>
            </div>
        </div>
    </div>
</div>

<!--<< Mouse Cursor Start >>-->  
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

<!-- Back To Top start -->
<button id="back-top" class="back-to-top">
    <i class="fa-solid fa-chevron-up"></i>
</button>

<!-- Offcanvas Area Start -->
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="/">
                            <img src="/images/newbdbg.png" alt="logo-img">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                        <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <p class="text">
                    Join BuddhaTV to explore spiritual teachings, mindfulness practices, and a journey toward mental clarity and inner peace.   </p>
                <div class="mobile-menu fix mb-5"></div>
                <div class="offcanvas__contact">
                    <h4>Contact Info</h4>
                    <ul>
                        <li class="d-flex align-items-center"> 
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="mailto:inneguru@buddha.tv"><span>inneguru@buddha.tv</span></a> 
                            </div>
                        </li> 
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="far fa-phone"></i>
                            </div>   
                            <div class="offcanvas__contact-text">
                                <a href="tel:+14154631894">+14154631894</a>
                            </div>
                        </li>
                    </ul>
                    <div class="header-button mt-4">
                        <a href="/subscribe" class="theme-btn text-center">
                            subscribe
                        </a>
                    </div>
                    <div class="social-icon d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>

<!-- Header Section Start -->
<header class="header-1">
    <div class="container-fluid">
        <div class="mega-menu-wrapper">
            <div class="header-main style-2">
                <div class="header-left">
                    <div class="logo">
                        <a href="/index" class="header-logo">
                            <img style="width:120px; height:120px" src="/images/newbdbg.png" alt="logo-img">
                        </a>
                    </div>
                    <div class="category-oneadjust">
                        <select name="cate" class="category">
                            <option value="1">
                                all categories
                            </option>
                            <option class="yam" value="1">
                                Yoga and movement
                            </option>
                            <option class="yama" value="1">
                                Wealth creation 
                            </option>
                            <option class='yamb' value="1">
                                Meditation and mindfulness   
                            </option>
                            <option class="yamc" value="1">
                                Healthy living
                            </option>  
                            <option class="yamd" value="1">
                                Breathwork
                            </option>
                            <option class="yame" value="1">
                                Science of mind and quantum healing
                            </option>
                            <option class="yamf" value="1">
                                Psychedelic healing
                            </option>
                            <option class="yamg" value="1">
                                Ancient wisdom
                            </option>
                            <option class="yamh" value="1">
                                Personal Development and self mastery
                            </option>  
                            <option class="yami" value="1">
                                Soul healing and transformation
                            </option> 
                        </select>
                    </div>
                </div>
                <div class="mean__menu-wrapper">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li class="has-dropdown active">
                                    <a href="/">
                                    Home
                                    </a>
                                    <ul class="submenu">
                                        <li><a style="display:none;" href="/index">Home 01</a></li>
                                        <li style='display:none'><a href="/index-2">Home 02</a></li>
                                        <li style='display:none'><a href="/index-3">Home 03</a></li>
                                    </ul>
                                </li>    
                                <li class="has-dropdown">
                                    <a href="news.html">
                                        Pages
                                    </a>
                                    <ul class="submenu">
                                        <li><a href="/about">About Us</a></li> 
                                        <li><a href="/subscribe">Subscriptions</a></li> 
                                        <li><a style="display:none" href="/login">Log In</a></li>
                                        <li><a style="display:none;" href="/404">Error 404</a></li>
                                    </ul>
                                </li>  

                                <li class="has-dropdown">
                                    <a href="/#">
                                       Categories
                                    </a>
                                    <ul class="submenu">  
                                        <li><a href="/videos/yogaandmovement">Yoga and Movement</a></li>
                                        <li><a href="/videos/wealthcreation">Wealth Creation</a></li>
                                        <li><a href="/videos/meditationandmindfulness">Meditation and Mindfulness</a></li>
                                        <li><a href="/videos/healthyliving">Healthy Living</a></li>
                                        <li><a href="/videos/breathwork">Breathwork</a></li>
                                        <li><a href="/videos/scienceofmindandquantumhealing">Science of Mind and Quantum Healing</a></li>
                                        <li><a href="/videos/psychedelichealing">Psychedelic Healing</a></li>
                                        <li><a href="/videos/ancientwisdom">Ancient Wisdom</a></li>
                                        <li><a href="/videos/personaldevelopmentandselfmastery">Personal Development and Self-Mastery</a></li>
                                        <li><a href="/videos/soulhealingandtransformation">Soul Healing and Transformation</a></li>
                                      </ul>
                                </li>

                                <li>
                                    <a style="display:none;" href="/news-details">
                                       Blog
                                    </a>
                                    <ul style="display:none;" class="submenu">
                                        <li><a style="display:none;" href="news.html">Blog</a></li>
                                        <li><a style="display:none;" href="news-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="tel:+14154631894">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-right d-flex justify-content-end align-items-center"> 
                    <div class="header-button">
                        <a href="/subscribe" class="theme-btn">subscribe <img src="/assets/img/diamond.png" alt="img"></a>
                        <a style="display:none;" href="login.html" class="theme-btn style-2">sign in <img src="assets/img/user.png" alt="img"></a>
                    </div>       
                    <a style="display:none;" href="login.html"><img src="assets/img/bell.png" alt="img"></a>
                    <div class="header__hamburger">
                        <div class="sidebar__toggle">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- tp header search  -->
<div style="display:none;" class="tp-header-search-bar d-flex align-items-center">
    <button class="tp-search-close">×</button>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div style="display:none;" class="tp-search-bar text-center">
                    <h2 class="tp-search-bar-title mb-30">What are you looking for?</h2>
                    <div class="contact-form-box contact-search-form-box">
                        <form action="#">
                            <input type="email" placeholder="Email Here*">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  


   <script>  


    
var yam = document.querySelectorAll('.yam');
yam.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/yogaandmovement';
    };
});

var yama = document.querySelectorAll('.yama');
yama.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/wealthcreation';
    };
});

var yamb = document.querySelectorAll('.yamb');
yamb.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/meditationandmindfulness';
    };
});

var yamc = document.querySelectorAll('.yamc');
yamc.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/healthyliving';
    };
});

var yamd = document.querySelectorAll('.yamd');
yamd.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/breathwork';
    };
});

var yame = document.querySelectorAll('.yame');
yame.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/scienceofmindandquantumhealing';
    };
});

var yamf = document.querySelectorAll('.yamf');
yamf.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/psychedelichealing';
    };
});

var yamg = document.querySelectorAll('.yamg');
yamg.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/ancientwisdom';
    };
});

var yamh = document.querySelectorAll('.yamh');
yamh.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/personaldevelopmentandselfmastery';
    };
});

var yami = document.querySelectorAll('.yami');
yami.forEach((each) => {
    each.onclick = () => {
        window.location.href = '/videos/soulhealingandtransformation';
    };
});
                    
   </script>